<h2>Контакты</h2>
<form action="/contacts" method="post">
  <div class="form-group">
    <label for="exampleEmail1">Ваша почта: </label>
    <input type="email" class="form-control" id="exampleEmail1" placeholder="Введите Вашу почту для связи" name="user_mail">
  </div>
  <div class="form-group">
    <label for="exampleFeedback1">Напишите отзыв: </label>
    <textarea class="form-control" rows="3" id="exampleFeedback1" placeholder="Ваш отзыв" name="user_feedback"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Отправить отзыв</button>
</form>